body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #2b2b2b;
}

h1 {
  color: white;
}

p {
  color: white;
}

pre {
  color: white;
  width: 50%;
  text-align: left;
}